body {
  background-color: #000;
  color: #8484ff;
  font-size: 18pt;
  font-family: sans-serif;
  letter-spacing: .5pt;
  padding: 50px;
}

a {
  color: #4a00ff;
  text-decoration: none;
}

a:hover {
  color: #ff48e7;
  text-decoration: none;
  border-bottom: 1px dashed #4a00ff;
}

b {
  //color: #92ff00;
}
